= form_for(@pain_entry) do |f|
  = render 'shared/error_messages', item: @pain_entry
  
  = f.label :occured_at
  = f.select :occured_at, ["nachts", "morgens", "vormittags", "mittags", "nachmittags", "abends"]
  = f.date_select :date
  
  = f.label :body_part
  = f.select :body_part, ["Kopf", "Nacken", "Schulter", "Oberkörper", "Brust", "Arm", "Hand", "Finger", "Bauch", "unterer Rücken", "Gesäß", "Lenden", "Hüfte", "Bein", "Knie", "Fuß", "Zehen"]
  
  = f.label :side
  = f.select :side, ["beidseitig", "mitte", "rechts", "links"]

  = f.label :pain_type
  = f.select :pain_type, ["stechend", "pulsierend", "krampfartig", "juckend", "kribbelnd"]

  = f.label :value
  = f.range_field :value, options = { min: 0, max: 100, step: 1 }

  = f.label :duration
  = f.select :duration, ["kurzer, impulartiger Schmerz", "Ein paar Minuten", "Eine Stunde", "Zwei bis vier Stunden", "Vier bis sieben Stunden", "Ganztägig"]

  = f.label :comment
  = f.text_area :comment, :rows => "5"


  = f.submit "Speichern", class: "btn btn-primary btn-large"
  = link_to 'Back', root_path, class: "btn btn-large back-btn"
  
