<%= form_for(@pain_entry) do |f| %>
  <% if @pain_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pain_entry.errors.count, "error") %> prohibited this pain_entry from being saved:</h2>

      <ul>
      <% @pain_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pain_id %><br />
    <%= f.number_field :pain_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.range_field :value, options = { min: 0, max: 100, step: 1 } %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
