<p id="notice"><%= notice %></p>

<p>
  <b>Pain:</b>
  <%= @pain_entry.pain_id %>
</p>

<p>
  <b>User:</b>
  <%= @pain_entry.user_id %>
</p>

<p>
  <b>Value:</b>
  <%= @pain_entry.value %>
</p>

<p>
  <b>Comment:</b>
  <%= @pain_entry.comment %>
</p>


<%= link_to 'Edit', edit_pain_entry_path(@pain_entry) %> |
<%= link_to 'Back', pain_entries_path %>
