= form_for(@user) do |f|
  = f.label :name
  = f.text_field :name

  = f.label :email
  = f.text_field :email

  - if current_user != nil
    = f.label :role
    = f.select :role, [:admin, :member]

  = f.label :password
  = f.password_field :password

  = f.label :password_confirmation, "Confirm"
  = f.password_field :password_confirmation

  = f.submit "Speichern", class: "btn btn-primary btn-large"


