= form_for(@therapy_entry) do |f|
  = render 'shared/error_messages', item: @therapy_entry
  .fields
    .fieldset
      .field.label-field= f.label t(:occured_at)
      .field
        .btn-group{ :"data-toggle" => "buttons-radio" }
          %button.btn.btn-primary.btn-small{ type: "button", name: "medication_entry[occured_at]", class: "medication_entry_occured_at morgens", value: "morgens" } morgens
          %button.btn.btn-primary.btn-small{ type: "button", name: "medication_entry[occured_at]", class: "medication_entry_occured_at mittags", value: "mittags"  } mittags
          %button.btn.btn-primary.btn-small{ type: "button", name: "medication_entry[occured_at]", class: "medication_entry_occured_at abends", value: "abends"  } abends
        .not_today
          - if @therapy_entry.date == Date.today
            = link_to t(:not_today), "#", class: "btn btn-small pull-right"
          - else
            = link_to "nicht für den #{@therapy_entry.date.strftime("%a, %d. %b")}", '#', class: "btn btn-small pull-right"
    .fieldset.date_select{ style: "display: none" }
      .field.label-field= f.label t(:what_date)
      .field= f.date_select :date
    .fieldset
      .field.label-field= f.label t(:therapy_type)
      .field= f.select :therapy_type, ["Krankengymnastik", "Wassergymnastik", "Massage", "Osteopathie"]
    .fieldset
      .field.label-field= f.label t(:intensity)
      .field= f.select :intensity, ["sanft", "mittel", "stark"]
    .fieldset
      .field.label-field= f.label t(:duration)
      .field= f.select :duration, [15,30,45,60]
    .fieldset
      .field.label-field= f.label t(:comment)
      .field= f.text_area :comment, :rows => "5"
    .fieldset
      .btn-group
        = link_to 'Zurück', day_path(@therapy_entry.date), class: "btn"
        = f.submit "Speichern", class: "btn btn-primary"
    
:javascript
  $(".not_today").click(function(){
    $(this).hide()
    $('.date_select').show()
  })
