<%= form_for(@therapy_entry) do |f| %>
  <% if @therapy_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@therapy_entry.errors.count, "error") %> prohibited this therapy_entry from being saved:</h2>

      <ul>
      <% @therapy_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :intensity %><br />
    <%= f.text_field :intensity %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
