= form_for(@medication_entry) do |f|
  = render 'shared/error_messages', item: @medication_entry
  .fields  
    .fieldset
      .field.label-field= f.label t(:taken_at)
      .field
        .btn-group{ :"data-toggle" => "buttons-radio" }
          %button.btn.btn-primary.btn-small{ type: "button", name: "medication_entry[occured_at]", class: "medication_entry_occured_at nachts", value: "nachts" } nachts
          %button.btn.btn-primary.btn-small{ type: "button", name: "medication_entry[occured_at]", class: "medication_entry_occured_at morgens", value: "morgens" } morgens
          %button.btn.btn-primary.btn-small{ type: "button", name: "medication_entry[occured_at]", class: "medication_entry_occured_at mittags", value: "mittags"  } mittags
          %button.btn.btn-primary.btn-small{ type: "button", name: "medication_entry[occured_at]", class: "medication_entry_occured_at abends", value: "abends"  } abends
        = f.text_field :taken_at, type: "hidden"      
        .not_today.pull-right{ style: "margin: 10px 0; "}
          - if @medication_entry.date == Date.today
            = link_to t(:not_today), "#", class: "btn btn-mini"
          - else
            = link_to "nicht für den #{@medication_entry.date.strftime("%a, %d. %b")}", '#', class: "btn btn-mini"
    .fieldset.date_select{ style: "display: none" }
      .field.label-field= f.label t(:what_date)
      .field= f.date_select :date,  end_year: Time.now.year, order: [:day, :month, :year]
  
    .fieldset
      .field.label-field= f.label t(:name)
      .field= f.text_field :name
    .fieldset
      .field.label-field= f.label t(:dose)
      .field= f.number_field :dose
    .fieldset
      .field.label-field= f.label t(:comment)
      .field= f.text_area :comment, :rows => "5"
    .fieldset
      .btn-group
        = link_to t(:back), day_path(@medication_entry.date), class: "btn"
        = f.submit t(:save), class: "btn btn-primary"

:javascript
  $(".not_today").click(function(){
    $(this).hide()
    $('.date_select').show()
  })
  
  var value = "."+$("#medication_entry_side").val()
  $(value).addClass('active')
  
  $(".medication_entry_side").click(function(){
    value = $(this).context.value
    $("#medication_entry_side").val(value)
  })
  
  var occured_at = "."+$("#medication_entry_side").val()
  $(occured_at).addClass('active')
  
  $(".medication_entry_occured_at").click(function(){
    value = $(this).context.value
    $("#medication_entry_occured_at").val(value)
  })
  