= form_for(@daily_entry) do |f|
  = render 'shared/error_messages', item: @daily_entry
  .fields
    .not_today
      - if @daily_entry.date == Date.today
        = link_to t(:not_today), "#", class: "btn btn-primary"
      - else
        = link_to "nicht für den #{@daily_entry.date.strftime("%a, %d. %b")}", '#', class: "btn btn-primary"
    .fieldset.date_select{ style: "display: none" }
      .field.label-field= f.label t(:what_date)
      .field= f.date_select :date,  end_year: Time.now.year, order: [:day, :month, :year]
      
    .fieldset
      .field.label-field= f.label t(:weight)
      .field= f.number_field :weight, class: "number-field"
    .fieldset
      .btn-group
        = link_to 'Zurück', root_path, class: "btn"
        = f.submit "Speichern", class: "btn btn-primary"
:javascript
  $(".not_today").click(function(){
    $(this).hide()
    $('.date_select').show()
  })