= form_for(@daily_entry) do |f|
  = render 'shared/error_messages', item: @daily_entry
  .fields
    .fieldset
      .field.not_today
        - if @daily_entry.date == Date.today
          = link_to t(:not_today), "#", class: "btn"
        - else
          = link_to "nicht für den #{@daily_entry.date.strftime("%a, %d. %b")}", '#', class: "btn"
    .fieldset.date_select{ style: "display: none" }
      .field.label-field= f.label t(:what_date)
      .field= f.date_select :date,  end_year: Time.now.year, order: [:day, :month, :year]

    .fieldset
      .field.label-field= f.label t(:weight)
      .field= f.number_field :weight, class: "number-field"
      
    .fieldset
      .field.label-field= f.label t(:sleep)
      .field= f.number_field :sleep, class: "number-field", value: 8
        
    .fieldset
      .field.label-field= f.label t(:emotion_degree)
      .field
        %small sehr schlecht
        = f.range_field :emotion, options = { min: 0, max: 100, step: 1 }
        %small sehr gut
        
    .fieldset
      .field.label-field= f.label t(:pain_degree)
      .field
        %small sehr schwach
        = f.range_field :pain, options = { min: 0, max: 100, step: 1 }
        %small unerträglich
    .fieldset
      .field.label-field= f.label t(:menstruation)
      .field= f.check_box :menstruation
        
    .fieldset
      .btn-group
        = link_to 'Zurück', day_path(@daily_entry.date), class: "btn"
        = f.submit "Speichern", class: "btn btn-primary"
:javascript
  $(".not_today").click(function(){
    $(this).hide()
    $('.date_select').show()
  })