- provide(:title, "Deine Woche, #{current_user.name}!")
.row
  - (@date).upto(@date + 6.day) do |date|
    .span3
      %h1.week
        = link_to date.strftime("%a, %d. %b"), day_path(date)
      .week-box{ style: "background: #{ generate_color_from_date(date) }"}
        %dl
          %dt Schmerzen
          - if @pain_entries.include?(date)
            - if @pain_entries[date].count > 2
              %dd= link_to "Sie haben #{@pain_entries[date].count} Schmerzeintrage", day_path(date)
            - else 
              - @pain_entries[date].each do |entry|
                %dd= link_to short_pain_description(entry), edit_pain_entry_path(entry)
          -else 
            %dd Keine Schmerzen
        %dl
          %dt Behandlungen
          - if @therapy_entries.include?(date)
            - if @therapy_entries[date].count > 2
              %dd= link_to "Sie haben #{@therapy_entries[date].count} Schmerzeintrage", day_path(date)
            - else
              - @therapy_entries[date].each do |entry|
                %dd= link_to entry.therapy_type, edit_pain_entry_path(entry)
          -else 
            %dd Keine Behandlung
.row
  .span9.pagination-centered
    .btn-group
      = link_to week_path(@date - 7.days), class: "btn" do
        %i.icon-backward
      = link_to "aktuelle Woche", week_path(Time.new.to_date), class: "btn"
      = link_to week_path(@date + 7.days), class: "btn" do
        %i.icon-forward
      
        
