= form_for(@pain) do |f|
  = render partial: 'shared/error_messages', item: @pain
  
  = f.label :name
  = f.text_field :name

  = f.label :bodypart
  = f.select :bodypart, [:kopf, :nacken, :rumpf, :arme, :beine]
  
  = f.label :description
  = f.text_area :description
  
  = f.submit "Speichern", class: "btn btn-primary btn-large"
  