%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      #logo= link_to "Meta", root_path, id: "Home"
      %nav
        .nav.pull-right          
          - if logged_in?
            - if current_user.role == 'admin'
              .btn-group
                %a.btn.btn-inverse.dropdown-toggle{ data: {toggle: "dropdown"}, href: '#'}
                  Admin
                  %span.caret
                %ul.dropdown-menu
                  %li= link_to "Benutzer", users_path
            .btn-group    
              -if can? :show, current_user
                = link_to user_path(current_user), class: "btn" do
                  %i.icon-user
              = link_to logout_path, method: "delete", class: "btn" do
                %i.icon-off
                
          - else
            .btn-group
              = link_to "Registrieren", register_path, class: "btn btn-success"
