%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      #logo= link_to "Medical Diary", root_path
      %nav
        %ul.nav.pull-right
          %li= link_to "Home", root_path
          - if logged_in?
            - if can? :edit, current_user
              %li= link_to current_user.name, edit_user_path(current_user)
            %li= link_to "Log out", logout_path, method: "delete"
            - if current_user.role == 'admin'
              %li= link_to "(admin)", users_path

          - else
            %li= link_to "Registrieren", register_path
            %li= link_to "Log in", login_path
